body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}

p {
  font-size: 18px;
  color: slategray;
  line-height: 1.8;
  margin-bottom: 0;
}

.top-margin-large-xs {
  margin-top: 15px;
}

.top-margin-large-sm {
  margin-top: 30px;
}

.top-margin-large-lg {
  margin-top: 60px;
}

.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light{
    background-color: snow;
    color: #1a1a1a;
    border: 2px solid snow;    
}

.btn i{
    font-size: 14px;
    margin-left:10px;
}

.navbar {
  background-color: seashell;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
}

.nav-link {
  color: #1a1a1a;
}

.nav-link:hover {
  color: #424447;
}

.logo-developer {
  min-width: 40px;
  max-width: 60px;
}

.navbar-toggler {
  font-size: 40px;
}
.navbar-toggler:focus {
  outline: none;
}

#banner {
  background-image: url(images/banners/banner_1.jpg);
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: seashell;
}

#banner p {
  color: snow;
}

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}


@media (max-width: 575.98px) { h1{font-size: 40px; line-height: normal;} }
/* 
@media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... } */
